
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header,footer {
    padding: 8px 32px;
    height: 70;
    background-color: #ece5dd;
}

.chat-box {
    padding: 32px;
    height: calc(100dvh - 140px) ;
    background-image: url('img/background.jpg');
}
.chat-row {
    display: flex;
    margin-bottom: 32px;
}
.chat-message {
    background-color: #d5f9ba;
    padding: 8px;
    border-radius: 8px;
    box-shadow: 3px 3px 10px #00000080;
}

.chat.row.sent > .chat-message{}

time {
    font-size: 10px;
    color: #aaaaaa;
}

.chat-row.sent {
    justify-content: flex-end;
}
.chat-row.received {
    justify-content: flex-start;
}